@font-face {
<<<<<<< HEAD
    font-family: 'IBM Plex mono';
    src: url(./IBMPlexMono-Regular.woff) format('woff');
    font-weight: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'IBM Plex mono';
    src: url(./IBMPlexMono-Bold.woff) format('woff');
    font-weight: bold;
    font-display: swap;
  }
=======
  font-family: 'IBM Plex mono';
  src: url(./IBMPlexMono-Regular.woff) format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex mono';
  src: url(./IBMPlexMono-Bold.woff) format('woff');
  font-weight: bold;
  font-display: swap;
}
>>>>>>> baf8734b932fe5da7ca44a19eb4ae096b51e1799
